<div class="tabela-dados-disciplina">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Disciplina:</th>
            <th scope="row">Fundamento de Banco de Dados</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Média das ACs</th>
            <td>10.0</td>
          </tr>
            <button class="btn btn-primary botao-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleAcs" aria-expanded="false" aria-controls="collapseExample">
                Notas das ACS
            </button>
          <div class="collapse" id="collapseExampleAcs">
            <div class="card card-body">
                <table>
                    <tr>
                        <th scope="row">AC1</th>
                        <td>10.0</td>
                      </tr>
                      <tr>
                        <th scope="row">AC2</th>
                        <td>10.0</td>
                      </tr>
                      <tr>
                        <th scope="row">AC3</th>
                        <td>10.0</td>
                      </tr>
                      <tr>
                        <th scope="row">AC4</th>
                        <td>10.0</td>
                      </tr>
                      <tr>
                        <th scope="row">AC5</th>
                        <td>10.0</td>
                      </tr>
                </table>
            </div>
          </div>
          
          <tr>
            <th scope="row">Prova</th>
            <td>10.0</td>
          </tr>
          <tr>
            <th scope="row">Substitutiva</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Bônus</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Média PAI</th>
            <td>---</td>
          </tr>
          <button class="btn btn-primary botao-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamplePai" aria-expanded="false" aria-controls="collapseExample">
            Notas das ACS
        </button>
    <div class="collapse" id="collapseExamplePai">
        <div class="card card-body">
            <table>
                <tr>
                    <th scope="row">PAI 1</th>
                    <td>---</td>
                  </tr>
                  <tr>
                    <th scope="row">PAI 2</th>
                    <td>---</td>
                  </tr>
                  <tr>
                    <th scope="row">PAI 3</th>
                    <td>---</td>
                  </tr>
            </table>
        </div>
        </div>
          <tr>
            <th scope="row">Total de Faltas</th>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">Média Final</th>
            <td>10.0</td>
          </tr>
        </tbody>
      </table>
</div>