<app-menu></app-menu><br><br><br>
<div class="tabela-dados-aluno">
    <table class="table">
        <thead>
          <tr>
            <th>
                <h1 class="titulo">Boletim</h1>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Nome: </th>
            <td colspan="2">Bárbara Teresinha Gabrielly da Silva</td>
          </tr>
          <tr>
            <th scope="row">RA:</th>
            <td colspan="2">5248752</td>
        </tr>
        <tr>
            <th scope="row">Curso: </th>
            <td colspan="2">Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</td>
        </tr>
        <tr>
            <th scope="row">Semestre: </th>
            <td colspan="2">2° Semestre</td>
        </tr>
        <tr>
            <th scope="row">Turma: </th>
            <td colspan="2">ADS 2A NOITE</td>
          </tr>
        </tbody>
      </table>
</div>

<app-explicacao-nota></app-explicacao-nota>

<app-boletim-disciplinas></app-boletim-disciplinas>

<div class="observacoes">
  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:" width="20px">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </svg>
    <div>
      Observações: Média mínima para aprovação 6,0(seis) com 75% de frequência.
    </div>
  </div>
  <table class="table table-secondary table-bordered table-responsive-sm tabela-frequência">
    <thead>
      <tr>
        <th>Carga Horária</th>
        <th>Faltas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>36</th>
        <td>9</td>
      </tr>
      <tr>
        <th>40</th>
        <td>10</td>
      </tr>
      <tr>
        <th>72</th>
        <td>18</td>
      </tr>
      <tr>
        <th>80</th>
        <td>20</td>
      </tr>
      <tr>
        <th>120</th>
        <td>30</td>
      </tr>
      <tr>
        <th>160</th>
        <td>40</td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-dark" role="alert">
    <em>Sujeito à alterações e não válido como histórico. Em caso de dúvida, entre em contato com o professor da disciplina.</em>
  </div>
</div>