<app-menu></app-menu><br><br><br>
<div class="tabela-dados-aluno">
    <table class="table">
        <thead>
          <tr>
            <th>
                <h1 class="titulo">Boletim</h1>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Nome: </th>
            <td colspan="2">Bárbara Teresinha Gabrielly da Silva</td>
          </tr>
          <tr>
            <th scope="row">RA:</th>
            <td colspan="2">5248752</td>
        </tr>
        <tr>
            <th scope="row">Curso: </th>
            <td colspan="2">Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</td>
        </tr>
        <tr>
            <th scope="row">Semestre: </th>
            <td colspan="2">1° Semestre</td>
        </tr>
        <tr>
            <th scope="row">Turma: </th>
            <td colspan="2">ADS 1A MANHÃ</td>
          </tr>
        </tbody>
      </table>
</div>
<app-boletim-disciplinas></app-boletim-disciplinas>