<div class="container">
    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
        <a class="navbar-brand" href="#">Mural de Recados</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">CI: 08/2023 - REF.: Mudança de Endereço e Atividades Remotas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">CI 03/2023 - Início das Aulas 2023 - Faculdade Impacta</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Mais Informativos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#scrollspyHeading3">REMATRÍCULAS 2023/1 - Graduação</a></li>
              <li><a class="dropdown-item" href="#scrollspyHeading4">Regulamento Prova PAI 2023/1</a></li>
              <li><a class="dropdown-item" href="#scrollspyHeading5">Notificação Emissão Boletos</a></li>
              <li><a class="dropdown-item" href="#scrollspyHeading5">Achados e Perdidos</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h4 id="scrollspyHeading1">CI: 08/2023 - REF.: Mudança de Endereço e Atividades Remotas</h4>
        <p>Prezados(as) Alunos(as),

            A FACULDADE IMPACTA está mudando para uma casa nova que proporcionará uma melhor experiência acadêmica e de aprendizagem, para tanto estamos na fase final de conclusão das obras em nossas novas instalações e atendimento das adequações exigidas pelo poder público ao imóvel a fim de garantir a segurança e acessibilidade a todos que utilizarem o campus.
            As atividades presenciais no novo campus PARAÍSO, situado na Rua Cubatão, 726 - metrô Paraíso, serão iniciadas no dia 27 de março de 2023. Portanto, informamos que nossas atividades que iniciaram excepcionalmente no regime remoto ao vivo assim permanecerão até 24 de março.
            Para visualizar o informativo completo sobre o Retorno das Aulas na Unidade Paraíso, CLIQUE AQUI.
            
            Atenciosamente, 
            Faculdade Impacta.</p>
        <h4 id="scrollspyHeading2">CI 03/2023 - Início das Aulas 2023 - Faculdade Impacta</h4>
        <p>Prezado(a) Aluno(a),

            A FACULDADE IMPACTA está de casa nova. Para receber toda a nossa comunidade e proporcionar a melhor experiência acadêmica, estamos realizando algumas adequações em nossas instalações. Assim, informamos que nossas atividades terão início em regime remoto presencial (ao vivo no Google Meet), sendo que as aulas neste semestre começarão em:
            
            - 06/02 - Segunda-feira, para novos alunos ("calouros").
            - 13/02 - Segunda-feira, para alunos atuais ("veteranos").
            
            Os horários de nossas aulas são os seguintes:
            
            - Matutino: das 8h às 11h40.
            - Noturno: das 19h às 22h40.
            
            Isso significa que, nos dias e horários regulares, as aulas presenciais serão ministradas ao vivo pelos respectivos professores por meio do ambiente virtual Google Meet.
            
            Para visualizar o informativo completo sobre o Início das Aulas 2023 da Faculdade Impacta, Clique Aqui.
            
            Atenciosamente,
            Faculdade Impacta</p>
        <h4 id="scrollspyHeading3">REMATRÍCULAS 2023/1 - Graduação</h4>
        <p>Prezado(a) aluno(a), para visualizar o informativo de pré-matrícula 2023/1, CLIQUE AQUI.</p>
        <h4 id="scrollspyHeading3">Regulamento Prova PAI 2023/1</h4>
        <p>Prezados (as) Alunos (as),
            Confira aqui o regulamento da Prova PAI do 1° semestre de 2023.
            Atenciosamente,
            Faculdade Impacta</p>
        <h4 id="scrollspyHeading4">Notificação Emissão Boletos</h4>
        <p>Prezado(a) Aluno(a),

            Vimos através deste comunicar que a Faculdade Impacta possui parceria com instituições financeiras que nos auxiliam no registro dos boletos junto aos órgãos competentes.
            
            Após o registro dos boletos as instituições emitem notificações aos clientes, comunicando do registro. O documento emitido não refere-se a uma cobrança, e sim um comunicado de que o boleto de um determinado mês fora registrado através deste parceiro.
            
            Os boletos são emitidos pela Faculdade e disponibilizados mensalmente na área do aluno, desta forma o pagamento deve ser realizado através dos boletos disponibilizados em sua área do aluno.
            
            Em caso de dúvida, orientamos entrar em contato junto ao departamento financeiro através dos canais abaixo.
            
            E-mail: financeirofaculdadeimpacta@impacta.com.br - Telefones: 5593-5392 / 5397
            Atenciosamente,
            Departamento Financeiro</p>
        <h4 id="scrollspyHeading5">Achados e Perdidos</h4>
        <p>Todos os objetos e documentos encontrados nas dependências da Faculdade IMPACTA deverão ser entregues à Recepção ou Ouvidoria.Nesta, permanecerão até o encerramento do semestre vigente.
        Após este prazo, serão doados a uma entidade assistencial, com exceção de documentos de identificação do aluno, fato que será notificado por telefone ou e-mail para a retirada pessoalmente.
        Atenciosamente
        Faculdade Impacta</p>
      </div>
</div>