<div class="container">
    <img src="assets/images/logo-impacta.png" alt="" class="logo">
    <hr>
    <form>
        <h1 class="texto">Acesso a área do aluno</h1>
        <div class="mb-3">
            <label for="tx-ra" class="form-label texto">Login</label>
            <input type="text" class="form-control" id="tx-ra">
            <div class="form-text texto">Seu login é seu RA</div>
        </div>
        <div class="mb-3">
            <label for="psw-password" class="form-label texto">Senha</label>
            <input type="password" class="form-control" id="psw-password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="ck-verSenha">
            <label class="form-check-label texto" for="ck-verSenha">Ver senha</label>
        </div>
        <div class="form-text"><a href="#">Esqueceu sua senha?</a></div>
        <button type="button" class="btn btn-primary" routerLink="/principal">Entrar</button>
        </form>
</div>
