<app-menu></app-menu>
<br><br><br>
<div class="select-curso">
    <select class="form-select" aria-label="Default select example">
        <option selected>Selecione o curso</option>
        <option value="1">Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</option>
      </select>
</div>
<div class="tabela-notas-faltas">
    <table class="table">
        <thead>
          <tr>
              <th>Período</th>
              <th>Turma</th>
              <th>Série</th>
              <th>Matrícula</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>2022/1</td>
              <td>ADS 1A MANHÃ</td>
              <td>1º Semestre</td>
              <td>Ativa</td>
              <td>
                <button type="button" class="btn btn-primary">
                    <span><i class="bi bi-search"></i>  Abrir</span>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<div class="notas-faltas">
    
</div>