.principal{
    display: flex;
    flex-flow: row wrap;
}

app-mural-recados{
    max-width: 70%;
}

.adicionais{
    max-width: 70%;
    display: flex;
    flex-flow: column wrap;
}

.card{
    width: 18rem;
    max-height: 13rem;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px){
    app-mural-recados{
        max-width: 100%;
    }
    .adicionais{
        margin-top: 30px;
        max-width: 100%;
        flex-flow: row wrap;
        justify-content: center;
    }
    .card{
        margin: 15px 10px 15px 0;
    }
}