<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Área do aluno</a>
      <button class="navbar-toggler btn-recursos" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"><span class="legenda-offcanvas">Menu</span>
        <span class="navbar-toggler-icon icone-button-offcanvas"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Acesso Rápido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Carteirinha de estudante
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.inovatecnologia.carteirinha&hl=pt_BR&gl=US" target="_blank">Ir para Carteirinha</a></li>
                  <li><a class="dropdown-item" href="https://account.impacta.edu.br/res/files/tutoriais/Manual_catraca_Aluno.pdf?1678491081" target="_blank">Manual de Acesso</a></li>
                  <li><a class="dropdown-item" href="https://account.impacta.edu.br/res/files/tutoriais/Suporte_para_dispositivos_incompativeis.pdf?1678491081" target="_blank">Problemas de Compatibilidade</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Secretaria Online
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="">Notas e Faltas</a></li>
                    <li><a class="dropdown-item" href="https://account.impacta.edu.br/aluno/documentos/Calendário%20Acadêmico%202023_1%20%20-%20Presencial.pdf?1678499621" target="_blank">Calendário Geral</a></li>
                    <li><a class="dropdown-item" routerLink="">Horários</a></li>
                    <li><a class="dropdown-item" routerLink="">Documentos</a></li>
                    <li><a class="dropdown-item" routerLink="">Atualize seus Dados</a></li>
                    <li><a class="dropdown-item" href="https://account.impacta.edu.br/aluno/documentos/Manual%20do%20Aluno%20da%20Graduação.pdf?1678500060" target="_blank">Manual do Aluno</a></li>
                    <li><a class="dropdown-item" href="https://account.impacta.edu.br/aluno/pdf/regulamentos/Regulamento%20de%20Acompanhamento%20Excepcional%20em%20Regime%20Domiciliar.pdf?1678500060" target="_blank">Regulamento Regime Domiciliar</a></li>
                    <li><a class="dropdown-item" routerLink="">Acessar com outro Curso</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Financeiro Online
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Financeiro</a></li>
                  <li><a class="dropdown-item" routerLink="">Vouchers</a></li>
                  <li><a class="dropdown-item" routerLink="">Informe de Pagamentos</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Biblioteca
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Consulta ao Acervo</a></li>
                  <li><a class="dropdown-item" routerLink="">Regulamento Biblioteca</a></li>
                  <li><a class="dropdown-item" routerLink="">Periódicos e Bases de Dados Online</a></li>
                  <li><a class="dropdown-item" routerLink="">Manual Acadêmico</a></li>
                  <li><a class="dropdown-item" routerLink="">Modelo de Capa do CD</a></li>
                  <li><a class="dropdown-item" routerLink="">E-books</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    PAI
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Regulamento PAI</a></li>
                  <li><a class="dropdown-item" routerLink="">Gabaritos Aluno PAI</a></li>
                </ul>
              </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="">CPA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">Atividades Complementares</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">Ouvidoria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">Requerimentos
                (Secretaria/Financeiro)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="">Contato dos Professores</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Acesse Também
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Bolsa de Estudos</a></li>
                  <li><a class="dropdown-item" routerLink="">Vagas para Estágio</a></li>
                  <li><a class="dropdown-item" routerLink="">OPEs para os Tecnólogos</a></li>
                  <li><a class="dropdown-item" routerLink="">Atos Normativos</a></li>
                  <li><a class="dropdown-item" routerLink="">NAE</a></li>
                  <li><a class="dropdown-item" routerLink="">NAP</a></li>
                  <li><a class="dropdown-item" routerLink="">Projeto Pedagógico</a></li>
                  <li><a class="dropdown-item" routerLink="">Núcleo de Carreiras Impacta</a></li>
                  <li><a class="dropdown-item" routerLink="">Notícias para Aluno</a></li>
                  <li><a class="dropdown-item" routerLink="">Estágio Supervisionado</a></li>
                  <li><a class="dropdown-item" routerLink="">NDE</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SMARTCLASS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Aulas de Graduação e Pós-Graduação</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    AVA
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="" data-bs-toggle="tooltip" data-bs-title="Default tooltip">Orchestra4edu</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CURSOS LIVRES
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Acessar</a></li>
                  <li><a class="dropdown-item" routerLink="">Cupom</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    PROVA FÁCIL
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Acessar</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>