<table class="table table-bordered">
    <thead>
      <tr>
        <th class="titulo-tabela"><h2>2° Semestre</h2></th>
      </tr>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <th>ADS</th>
        <td><a routerLink="/quadro-horarios">Ver quadro de horários</a></td>
      </tr>
      <tr>
        <th>Dependência EAD:</th>
        <td><a href="https://account.impacta.edu.br/aluno/documentos/DP-ADAP%20-%20OFERTA%20EAD%2023.1.pdf?1684362166">Clique aqui</a></td>
      </tr>
    </tbody>
  </table>