<button class="btn btn-warning botao-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleNotas" aria-expanded="false" aria-controls="collapseExample">
    Entenda sua nota
  </button>
  <div class="collapse descricao-collapse" id="collapseExampleNotas">
    <div class="card card-body">
      <h3>Sem PAI:</h3>
      <p>Sua média semestral é composta pela média das atividades contínuas, que é a média aritmética das suas 4 melhores notas de ACs, multiplicada por 0.5. Somada a nota da Prova Regular ou Substitutiva multiplicada por 0.5.
      E caso haja um bônus será somada a média final. 
      </p>
      <strong>FÓRMULA:</strong>
      <div class="alert alert-info"><strong>(MAC x 0.5) + (PR ou SUB x 0.5) + BÔNUS</strong></div>
      <div class="alert alert-secondary">  
      <ul>
            <li>Média das ACS é 50% da média final</li>
            <li>Prova/Substirutiva é 50% da média final</li>
        </ul>
      </div>
    
      <h3>Com PAI:</h3>
      <p>Caso haja prova PAI, sua média semestral é composta pela média das atividades contínuas, que é a média aritmética das suas 4 melhores notas de ACs, multiplicada por 0.3. Somada a nota da Prova Regular ou Substitutiva multiplicada por 0.4. Somada a média das provas PAI, que é a média aritmética das suas 2 melhores notas de prova, multiplicada por 0.3.
        E caso haja um bônus será somada a média final. 
      </p>
      <strong>FÓRMULA:</strong>
      <div class="alert alert-info"><strong>(MAC x 0.3) + (PR ou SUB x 0.4) + (PAI x 0.3) + BÔNUS</strong></div>
      <div class="alert alert-secondary">
        <ul>
          <li>Média das ACS é 30% da média final</li>
          <li>Prova/Substirutiva é 40% da média final</li>
          <li>Média das provas PAI é 30% da média final</li>
        </ul>
    </div>
  </div>