<app-menu></app-menu>
<br><br>
<div class="container">
    <app-painel-aluno></app-painel-aluno>
    <div class="principal">
        <app-mural-recados></app-mural-recados>
        <div class="adicionais">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">RESPONDA NOSSA PESQUISA</h5>
                  <p class="card-text">Desejamos conhecê-lo e aprimorar nossos serviços.</p>
                  <a href="#" class="btn btn-primary">Acesse</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">AJUDE A MELHORAR NOSSA FACULDADE</h5>
                  <p class="card-text">Deixe Ideias, Sugestões e Críticas</p>
                  <a href="#" class="btn btn-primary">Acesse</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">PARCERIA MICROSOFT IMAGINE</h5>
                  <p class="card-text">A Faculdade Impacta e a Microsoft possuem uma grande parceria com o objetivo de ajudar você.</p>
                  <a href="#" class="btn btn-primary">Clique e Saiba Mais</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">NÚCLEO DE CARREIRAS</h5>
                  <p class="card-text">Acesse núcleo de carreiras e fique por dentro das oportunidades profissionais no mercado de trabalho.</p>
                  <a href="#" class="btn btn-primary">Acesse</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">INFORMAÇÕES</h5>
                  <p class="card-text">Pagamentos das mensalidades, Horário das Aulas, Notas e Faltas, Secretarias, Matriculas...</p>
                  <a href="#" class="btn btn-primary">Acesse</a>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">TELEFONES</h5>
                  <p class="card-text">Telefones para contato com os principais departamentos da Faculdade.</p>
                  <a href="#" class="btn btn-primary">Acesse</a>
                </div>
              </div>
        </div>
    </div>
</div>