<div class="campo-aluno">
    <div class="foto">
        <img src="assets/images/aluno-sem-foto.png" alt="">
    </div>
    <div class="info">
        <span>Olá, <span class="input">Bárbara Teresinha Gabrielly da Silva</span></span>
        <span>Ra: <span class="input">1234567</span></span>
        <span>Curso: <span class="input">Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</span></span>
        <button class="btn btn-danger" routerLink="/login">Sair/Logout</button>
    </div>
</div>