<app-menu></app-menu><br><br><br>
<div>
    <div class="descricao">
        <h2>2° Semestre: ADS 3A NOITE</h2>
        <p id="p-periodo">Período: 13/02/2023 à 26/06/2023 </p>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneSeg" aria-expanded="false" aria-controls="flush-collapseOne">
                Segunda
            </button>
          </h2>
          <div id="flush-collapseOneSeg" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Aula 1 [ 19h às 19h50 ]</h5>
                      <div class="card-text">
                        <ul class="lista-descricao">
                            <li>Disciplina : Ambiente de Desenvolvimento e Operação - DevOps</li>
                            <li>Profº(ª) :Antonio de Oliveira Dias;</li>
                            <li>Sala : Lab 203 Paraíso</li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Aula 2 [ 19h50 às 20h40 ]</h5>
                      <div class="card-text">
                        <ul class="lista-descricao">
                            <li>Disciplina : Ambiente de Desenvolvimento e Operação - DevOps</li>
                            <li>Profº(ª) :Antonio de Oliveira Dias;</li>
                            <li>Sala : Lab 203 Paraíso</li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Aula 3 [ 21h às 21h50 ]</h5>
                      <div class="card-text">
                        <ul class="lista-descricao">
                            <li>Disciplina : Ambiente de Desenvolvimento e Operação - DevOps</li>
                            <li>Profº(ª) :Antonio de Oliveira Dias;</li>
                            <li>Sala : Lab 203 Paraíso</li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Aula 4 [ 21h50 às 22h40 ]</h5>
                      <div class="card-text">
                        <ul class="lista-descricao">
                            <li>Disciplina : Ambiente de Desenvolvimento e Operação - DevOps</li>
                            <li>Profº(ª) :Antonio de Oliveira Dias;</li>
                            <li>Sala : Lab 203 Paraíso</li>
                        </ul>
                      </div>
                    </div>
                  </div>    
            </div>
          </div>
        </div>
      </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneTer" aria-expanded="false" aria-controls="flush-collapseOne">
                Terça
            </button>
          </h2>
          <div id="flush-collapseOneTer" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="accordion-body">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-secondary">
                          <h5 class="card-title">EAD</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Desenvolvimento com Automação Robótica de Processos - RPA
                                </li>
                                <li>Profº(ª) :Mariana Alexandre Hendges dos Santos</li>
                                <li>Sala : Remota</li>
                            </ul>
                          </div>
                        </div>
                      </div>    
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneQua" aria-expanded="false" aria-controls="flush-collapseOne">
                Quarta
            </button>
          </h2>
          <div id="flush-collapseOneQua" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="accordion-body">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 1 [ 19h às 19h50 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Desenvolvimento Mobile</li>
                                <li>Profº(ª) : Antonio Henrique Catani</li>
                                <li>Sala : Lab 202 Paraíso</li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 2 [ 19h50 às 20h40 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Desenvolvimento Mobile</li>
                                <li>Profº(ª) : Antonio Henrique Catani</li>
                                <li>Sala : Lab 202 Paraíso</li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 3 [ 21h às 21h50 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Desenvolvimento Mobile</li>
                                <li>Profº(ª) : Antonio Henrique Catani</li>
                                <li>Sala : Lab 202 Paraíso</li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 4 [ 21h50 às 22h40 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Desenvolvimento Mobile</li>
                                <li>Profº(ª) : Antonio Henrique Catani</li>
                                <li>Sala : Lab 202 Paraíso</li>
                            </ul>
                          </div>
                        </div>
                      </div>    
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneQui" aria-expanded="false" aria-controls="flush-collapseOne">
                Quinta
            </button>
          </h2>
          <div id="flush-collapseOneQui" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="accordion-body">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 1 [ 19h às 19h50 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Engenharia de Requisitos</li>
                                <li>Profº(ª) : Izaiane Antunes Lascalla</li>
                                <li>Sala : Remota</li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 2 [ 19h50 às 20h40 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Engenharia de Requisitos</li>
                                <li>Profº(ª) : Izaiane Antunes Lascalla</li>
                                <li>Sala : Remota</li>
                            </ul>
                          </div>
                        </div>
                      </div>    
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneSex" aria-expanded="false" aria-controls="flush-collapseOne">
                Sexta
            </button>
          </h2>
          <div id="flush-collapseOneSex" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="accordion-body">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 1 [ 19h às 19h50 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Desenvolvimento de APIs e Microsserviços</li>
                                <li>Profº(ª) : Andreia Cristina dos Santos Gusmão</li>
                                <li>Sala : Remota</li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body text-secondary">
                          <h5 class="card-title">Aula 2 [ 19h50 às 20h40 ]</h5>
                          <div class="card-text">
                            <ul class="lista-descricao">
                                <li>Disciplina : Desenvolvimento de APIs e Microsserviços</li>
                                <li>Profº(ª) : Andreia Cristina dos Santos Gusmão</li>
                                <li>Sala : Remota</li>
                            </ul>
                          </div>
                        </div>
                      </div>    
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
<button class="btn btn-danger botao" routerLink="/horarios">Voltar para os horários</button>